@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.font-anton {
    font-family: 'Anton', sans-serif;
}

body {
    background-color: #000;
    overscroll-behavior-y: none;
    /* Optional: prevents bounce effect for cooler feel, or just use color */
}